body {
    background-color: transparent;
    color: #0e0202;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}
.particles {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.intro-text {
    max-width: 50%;
    animation: fadeInLeft 1s ease-in-out;
}
.profile-pic {
    max-width: 40%;
    border-radius: 50%;
    animation: fadeInRight 1s ease-in-out;
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* Estilos del menú */
.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid #0f5dc4;
}
.navbar-brand, .nav-link {
    color: #0f5dc4 !important;
    transition: color 0.3s ease-in-out;
}
.nav-link:hover {
    color: #050202 !important;
}
.nav-item.active .nav-link {
    color: #0c0606 !important;
    border-bottom: 2px solid #0f5dc4;
}
.navbar-toggler {
    border-color: #0f5dc4;
}
.navbar-toggler-icon {
  border-bottom: 2px solid #0f5dc4;
}
.logo {
    max-width: 50px;
    animation: rotate 2s infinite linear;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.list-group-item {
    background: linear-gradient(135deg, #fff, #0f5dc4);
    color: rgb(7, 4, 4);
    border: none;
    transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
    animation: float 3s ease-in-out infinite;
}
.list-group-item:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #0f5dc4, #0f5dc4);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.list-group-item h5, .list-group-item p, .list-group-item small {
    color: rgb(10, 5, 5);
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}